comfy_waves.jpg filter=lfs diff=lfs merge=lfs -text
cozy_coast.png filter=lfs diff=lfs merge=lfs -text
wallhaven-83yrjo.png filter=lfs diff=lfs merge=lfs -text
Minimal.png filter=lfs diff=lfs merge=lfs -text
lockscreen.png filter=lfs diff=lfs merge=lfs -text
morocco.jpg filter=lfs diff=lfs merge=lfs -text
rocket.png filter=lfs diff=lfs merge=lfs -text
thewindowofthesummerhouse.jpg filter=lfs diff=lfs merge=lfs -text
wallhaven-76qxz3.jpg filter=lfs diff=lfs merge=lfs -text
wallhaven-g818jd.png filter=lfs diff=lfs merge=lfs -text
wallhaven-q6qwy7.png filter=lfs diff=lfs merge=lfs -text
city.jpg filter=lfs diff=lfs merge=lfs -text
city.png filter=lfs diff=lfs merge=lfs -text
maki.png filter=lfs diff=lfs merge=lfs -text
rose.png filter=lfs diff=lfs merge=lfs -text
wp5418517-minimalist-aesthetic-laptop-wallpapers.png filter=lfs diff=lfs merge=lfs -text
wp7815884-aesthetic-desktop-minimalist-wallpapers.jpg filter=lfs diff=lfs merge=lfs -text
wp8312350-minimalist-aesthetic-mac-computer-wallpapers.jpg filter=lfs diff=lfs merge=lfs -text
wp9782704-aesthetic-laptop-beige-wallpapers.jpg filter=lfs diff=lfs merge=lfs -text
pacman.png filter=lfs diff=lfs merge=lfs -text
output-dark.jpg filter=lfs diff=lfs merge=lfs -text
unknown.jpg filter=lfs diff=lfs merge=lfs -text
minimal.jpg filter=lfs diff=lfs merge=lfs -text
wallhaven-2eoy29.jpg filter=lfs diff=lfs merge=lfs -text
wallhaven-dg7ejj.png filter=lfs diff=lfs merge=lfs -text
wp9644406-aesthetic-retro-deskop-wallpapers.png filter=lfs diff=lfs merge=lfs -text
ahhhh.png filter=lfs diff=lfs merge=lfs -text
sword.png filter=lfs diff=lfs merge=lfs -text
brain.png filter=lfs diff=lfs merge=lfs -text
flowers.png filter=lfs diff=lfs merge=lfs -text
matte.png filter=lfs diff=lfs merge=lfs -text
unknown1.png filter=lfs diff=lfs merge=lfs -text
wave.png filter=lfs diff=lfs merge=lfs -text
waves.jpg filter=lfs diff=lfs merge=lfs -text
wp10695147-minimalist-aesthetic-desktop-wallpapers.png filter=lfs diff=lfs merge=lfs -text
dark-decay.jpg filter=lfs diff=lfs merge=lfs -text
newcity.png filter=lfs diff=lfs merge=lfs -text
unknown2.png filter=lfs diff=lfs merge=lfs -text
wall.png filter=lfs diff=lfs merge=lfs -text
rocks.jpg filter=lfs diff=lfs merge=lfs -text
widecity.png filter=lfs diff=lfs merge=lfs -text
bigcity.png filter=lfs diff=lfs merge=lfs -text
index.png filter=lfs diff=lfs merge=lfs -text
ogrey.png filter=lfs diff=lfs merge=lfs -text
radium.jpg filter=lfs diff=lfs merge=lfs -text
monterey.webp filter=lfs diff=lfs merge=lfs -text
theway.jpg filter=lfs diff=lfs merge=lfs -text
xnqkgor3iog91.jpg filter=lfs diff=lfs merge=lfs -text
wp6168519-cute-aesthetic-pc-wallpapers.jpg filter=lfs diff=lfs merge=lfs -text
FZgIjCw.png filter=lfs diff=lfs merge=lfs -text
space.jpg filter=lfs diff=lfs merge=lfs -text
wallpaper.png filter=lfs diff=lfs merge=lfs -text
weird.png filter=lfs diff=lfs merge=lfs -text
wp7654644-aesthetic-cute-minimalist-wallpapers.jpg filter=lfs diff=lfs merge=lfs -text
QpZUf7G.png filter=lfs diff=lfs merge=lfs -text
jap.png filter=lfs diff=lfs merge=lfs -text
night.jpg filter=lfs diff=lfs merge=lfs -text
output-light.jpg filter=lfs diff=lfs merge=lfs -text
wallhaven-e7zmor.jpg filter=lfs diff=lfs merge=lfs -text
wp5201323-minimalist-desktop-tumblr-wallpapers.jpg filter=lfs diff=lfs merge=lfs -text
wp9123388-pastel-aqua-wallpapers.png filter=lfs diff=lfs merge=lfs -text
astronaut.png filter=lfs diff=lfs merge=lfs -text
made_wall1_mid.png filter=lfs diff=lfs merge=lfs -text
output-1659958136.png filter=lfs diff=lfs merge=lfs -text
unknown.png filter=lfs diff=lfs merge=lfs -text
